@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color:#475569;
  --bg-color: #ffffff;
  --text-color: #111827;
  --card-bg: #ffffff;
  --border-color: #e5e7eb;
  --grid-color: #f3f3f3;
  --text-muted: #6b7280;
  --text-main: #111827
  --text-darkblue: #374151;
  --color-skill :#374151;
  --bg-icons:  #f3f4f6;

}

html.dark-theme {
  --bg-color: #0b0f19;       
  --text-color: #f9fafb;    
  --card-bg: #111827;       
  --border-color: #374151;   
  --grid-color: #1f2937;
  --text-muted: #babdc0;
  --text-main: #e5e7eb;
  --text-darkblue: #e5e7eb;
  --color-skill :#959595;
  --main-color:#fff;
  --bg-icons:  #22222e;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

